* {color: #fff; background: #000;}
body {
    font-family: sans-serif;
    font-size: 11pt;
    margin: 0px auto;
    max-width: 44em;}
a:link {color: #5d9;}
a:visited {color: #d95;}
code {color: #ff0; font-family:monospace; font-size: 10pt;}
